<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="developConnectionString" connectionString="Data Source=192.168.18.21;Initial Catalog=skytex;User ID=soludin;Password=pluma" providerName="System.Data.SqlClient"/>-->
    <add name="developConnectionString" connectionString="Data Source=SQL;Initial Catalog=skytex;User ID=soludin_develop;Password=dinamico20" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <httpRuntime executionTimeout="3600000" maxRequestLength="1000000" requestLengthDiskThreshold="300917704" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="5000" enableKernelOutputCache="true" enableVersionHeader="true" requireRootedSaveAsPath="true" enable="true" shutdownTimeout="150" delayNotificationTimeout="5" waitChangeNotification="0" maxWaitChangeNotification="0" enableHeaderChecking="true" sendCacheControlHeader="true" apartmentThreading="false" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <!--<add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>-->
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <identity impersonate="false"/>
  </system.web>
  <appSettings>
    <add key="time" value="900"/>
    <add key="ruta" value="/ArchivosLibreriasWeb/"/>
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>